﻿@model PoterieJoelleHenault.Models.User

@{
    ViewBag.Title = "Module administratif";
}

<h2>@ViewBag.Title</h2>

@{if (!Request.IsAuthenticated)
  {
    using (Html.BeginForm()) {
        Html.ValidationSummary(true);

        <fieldset>
            <legend>User</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <p>
                <input type="submit" value="Log In" />
            </p>
        </fieldset>
    }
  }
  else
  {
      <nav id="menuGalery">
          <ol>
              <li>
                  @Html.ActionLink("Gérer les items de la galerie", "List", "Galerie")
              </li>
              <li>
                  @Html.ActionLink("Gérer les textes", "Index", "Textes")
              </li>
          </ol>
      </nav>
  }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
