﻿@{
    ViewBag.Title = "Biographie";
}

<h2>@ViewBag.Title</h2>
<div class="text" style="height:100%;">
    <p>
        Joëlle Hénault se consacre à la poterie depuis de nombreuses années.
        <img src="/Images/joelleHome.JPG" style="border-radius:8px;width:250px;height:auto;float:right;"/>
        <br />
        En effet, dès l’’âge de 16 ans, elle participe aux activités de céramique du Cegep de Drummnondville.
        <br />
        Elle se rend en Grande-Bretagne et y travaille comme tourneuse pour un potier du Pays de Galles.
        <br />
        Elle étudie le tournage et la technologie des glaçures à Port-Au-Persil dans le comté de Charlevoix avec le maître-potier Pierre Legault. Elle y travaille comme apprentie. La passion émerge alors avec force. 
    </p>
    <p>
        Dans son atelier situé dans le magnifique hameau d’’Ulverton. Elle fabrique des pièces de faïence rouge et blanche garnies d’une glaçure d’un bleu de fer ou d’un vert émeraude qui met bien en valeur ses œuvres aux formes harmonieuses.
        <br />
        Son œuvre est dorénavant collectionné par de nombreux amateurs de poterie au Québec et à l’étranger qui admirent son travail minutieux et raffiné.
        <br />
        Ses décors sont variés allant d’empreintes de plantes, gravure sur terre crue et jeux de superposition de glaçures colorées.
        <br />
        Ses voyages thématiques sur la poterie en France au Mexique et au Japon sont une source d’inspiration constante. 
    </p>
</div>
