﻿@{
    ViewBag.Title = "About";
}

<h2>Me contacter</h2>
<div class="text">
    <p>
        Joëlle Hénault
    </p>
    <br />
    <p>
        Adresse e-mail : joelleh55@hotmail.com
    </p>
    <br />
    <p>
        Numéro de téléphone : 555-555-5555
    </p>
</div>
<div class="text">
        <h3>Commantaire, questionnement ou commande de pièces spéciales</h3>

 

    <p>@Html.ValidationMessage("_FORM")</p>

 

    @using(Html.BeginForm()) {
        <table>
        <tr>
            <td>Votre e-mail:</td>
            <td>@Html.TextBox("email")</td>
        </tr>
        <tr>
            <td>Sujet:</td>
            <td>@Html.TextBox("subject")</td>
        </tr>
        <tr>
            <td>Message:</td>
            <td>@Html.TextArea("body")</td>
        </tr>
        </table>
        <input type="submit" value="Send" />
    }
</div>