﻿@{
    ViewBag.Title = "Accueil";
}

<h2>@ViewBag.Title</h2>
<div class="text" style="height:100%;">
    <p>
        Bienvenue dans mon univers!
        <img src="/Images/imgHome.JPG" style="border-radius:8px;width:250px;height:auto;float:right;"/>
    </p>
    <p>
        Faïence rouge ...Faïence blanche
    </p>
    <p>
        La faïence est une sorte d'argile au même titre que le grès et la porcelaine. Elle est très fine et douce à manipuler.
    </p>
    <p>
        Contrairement au mythe de la faïence poreuse ma faïence est vitrifiée à une température suffisamment élevée qui élimine toute porosité.
    </p>
    <p>
        Elle est très résistante, va au lave-vaisselle et au micro ondes. Elle n'aime pas les chocs thermiques, il faut donc y aller doucement au four conventionnel.
    </p>
    <p>
        C'est un plaisir quotidien que de se servir de la poterie comme instrument de cuisine. Je dirais même que ma glaçure richement nuancée et bien lustrée permet de donner de l'éclat à vos plats.
    </p>
    <p>
        La magie de cette glaçure réside dans le fait qu'elle apparaît bleue sur la terre rouge et verte sur la terre blanche. La chimie fait bien les choses...n'est-ce pas? 
    </p>
    <p>
        Voici quelques examples de mes créations
    </p>
    <img src="/Images/vaseHome.JPG" style="border-radius:8px;width:150px;height:auto;"/>
    <img src="/Images/bolHome.JPG" style="border-radius:8px;width:338px;height:auto;"/>
</div>


