﻿@model PoterieJoelleHenault.Models.Galerie
<tr>
    <td>
        <div class="text" id="Item">
            <img src="@Model.ImageURL"/>
            <p>
                Nom de l'article : @Html.DisplayFor(model => model.Name)
                <br />
                @Html.DisplayFor(model => model.Description)
            </p>
        </div>
    </td>
</tr>

