﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1 id="grandTitle">Poterie Joëlle Hénault</h1>
        <nav id="menuPrincipal">
            <ol>
                <li>@Html.ActionLink("Accueil","Index","Home")</li>
                <li>@Html.ActionLink("Biographie","Bio","Home")</li>
                <li>@Html.ActionLink("Galerie","Index","Galerie")</li>
                <li>@Html.ActionLink("Contactez-moi","Contact","Home")</li>
            </ol>
        </nav>
        @if (Request.IsAuthenticated)
        {
            <a href="/Admin/Deco" id="deco">D&#233;conexion</a>
        }
    </header>
    <div id="bodyContainer">
            @RenderBody()

            @Scripts.Render("~/bundles/jquery")
            @RenderSection("scripts", required: false)
    </div>
</body>
</html>
