@theme: #555;
@themeMenu: #003366;

.shadow {  
    box-shadow: 0 1px 2px 0 @theme;  
}  

.border(@radius:3px) {  
    border-radius: @radius;  
    border: 1px solid @themeMenu - #050505;  
}  

.divider {  
    border-style: solid;  
    border-width: 0 1px 0 1px;  
    border-color: transparent @themeMenu - #111 transparent @themeMenu + #333;  
}  