@import "config.less";

@font-face
{
    font-family: 'England';
    src: url('england.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Miama';
    src: url('Miama.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Artifika';
    src: url('Artifika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LandliebeRegular';
    src: url('Landliebe-webfont.eot');
    src: url('Landliebe-webfont.eot?#iefix') format('embedded-opentype'),
         url('Landliebe-webfont.woff') format('woff'),
         url('Landliebe-webfont.ttf') format('truetype'),
         url('Landliebe-webfont.svg#LandliebeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



#grandTitle {
    position:relative;
    font-family: LandliebeRegular;
    font-size: 40px;
    color: #fff;
    margin: 0;
    padding: 20px;
    width: auto;
    display: inline-block;
}

h2 {
    font-family: LandliebeRegular;
    background-color: #FFF8DC;
    border-radius: 3px;
    padding: 5px;
    border: 3px solid #834C24;  
    color: #834C24;
    font-size: 35px;
    margin: 0;
}

h3 {
    font-family: LandliebeRegular;
    background-color: #FFF8DC;
    padding: 5px;
    font-size: 35px;
    margin: 0;
}

.text {
    background-color: #FFF8DC;
    border-radius: 3px;
    padding:10px;
    border: 3px solid #834C24;  
    color: #834C24;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Artifika;
}

#noPages {
    text-align: center;
    a {  
        text-decoration: none;  
        display: inline-block;  
        width: auto;  
        padding-left: 10px;
        padding-right: 10px;
        height: 20px;  
        color: #834C24;
        text-align: center;  
        line-height: 300%;  
        &:hover {  
                text-decoration: underline;  
            } 
    }  
}
#container {
   min-height:100%;
   position:relative;
}

header {
    background-color: #1F1209;
    padding-left:200px;
    width: 100%;
}

footer {
    background-color: #1F1209;
    width:100%;
    position: absolute;
    bottom: 0;
    height:50px;
    color: #fff;
    div
    p {
        font-size:12px;
    }
}

#bodyContainer {
    margin: auto;
    max-width: 1000px;
    padding-top: 15px;
    padding-bottom: 50px;
}

body,html {
    font-family: Artifika;
    background-color: #fff;
    margin:0;
    padding:0;
    height:100%;
}

#Item {
    img {
        width: 20%;
        height: 20%;
    }
    p {
        vertical-align:top;
        padding: 8px;
        width:70%;
        display:inline-block;
    }
}

#menuGalery {
    width: auto;  
    height: 40px;  
    display: inline-block;
    background-color: #FFF8DC;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 3px solid #834C24;  
    ol {  
        padding: 0;  
        margin: 0; 
        li {
            display: inline;
            a {  
                text-decoration: none;  
                display: inline-block;  
                float: left;  
                width: auto;  
                padding-left: 10px;
                padding-right: 10px;
                height: 40px;  
                color: #834C24;
                text-align: center;  
                line-height: 300%;  
                &:hover {  
                        text-decoration: underline;  
                    } 
            }  
        } 
    }  
}

#deco {
    width: auto;
    display: block;
    text-decoration: none;
    color: #fff;
    padding-left: 40px;
    padding-bottom: 10px;
    &:hover {
        text-decoration: underline;
    }
}

#divTitle {
    display: inline-block;
    width: auto;
}

#menuPrincipal {  
    width: 630px;  
    height: 55px;  
    margin-left:120px;
    display: inline-block;
    position:absolute;
    padding-top: 25px;
    ol {  
        padding: 0;  
        margin: 0; 
        li {
            display: inline;
            a {  
                font-family: LandliebeRegular;
                text-decoration: none;  
                display: inline-block;  
                float: left;  
                width: 156px;  
                height: 55px;  
                color: #fff;
                font-size:25px;
                text-align: center;  
                line-height: 300%;  
                &:hover {  
                        text-shadow:0px 0px 10px #fff; 
                        text-decoration: underline;
                    } 
            }  
        } 
    }  
}  