/* CSS crunched with Crunch - http://crunchapp.net/ */
.shadow{box-shadow:0 1px 2px 0 #555555;}
.divider{border-style:solid;border-width:0 1px 0 1px;border-color:transparent #002255 transparent #336699;}
@font-face{font-family:'England';src:url('england.ttf') format('truetype');font-weight:normal;font-style:normal;}@font-face{font-family:'Miama';src:url('Miama.otf');font-weight:normal;font-style:normal;}@font-face{font-family:'Artifika';src:url('Artifika-Regular.ttf') format('truetype');font-weight:normal;font-style:normal;}@font-face{font-family:'LandliebeRegular';src:url('Landliebe-webfont.eot');src:url('Landliebe-webfont.eot?#iefix') format('embedded-opentype'),url('Landliebe-webfont.woff') format('woff'),url('Landliebe-webfont.ttf') format('truetype'),url('Landliebe-webfont.svg#LandliebeRegular') format('svg');font-weight:normal;font-style:normal;}#grandTitle{font-family:LandliebeRegular;font-size:40px;color:#fff;margin:0;padding:20px;width:auto;float:left;}
h2{font-family:LandliebeRegular;background-color:#FFF8DC;border-radius:3px;padding:5px;border:3px solid #834C24;color:#834C24;font-size:35px;}
h3{font-family:LandliebeRegular;background-color:#FFF8DC;padding:5px;font-size:35px;margin:0;}
.text{
    background-color:#FFF8DC;
    border-radius:3px;
    padding:10px;
    border:3px solid #834C24;
    color:#834C24;
    margin-top:15px;
    margin-bottom:15px;
    font-family:Artifika;
    text-align:left;
    height:200px;
}
#noPages{text-align:center;}#noPages a{text-decoration:none;display:inline-block;width:auto;padding-left:10px;padding-right:10px;height:20px;color:#834C24;text-align:center;line-height:300%;}#noPages a:hover{text-decoration:underline;}

header{background-color:#1F1209;padding-left:5%;padding-right:5%;text-align:right;}
footer{background-color:#1F1209;width:100%;bottom:0;height:50px;text-align:center;color:#fff;}footer p{font-size:12px;}
#bodyContainer{margin:auto;width:80%;padding-top:15px;padding-bottom:50px;text-align:center;}
body,html{font-family:Artifika;background-color:#fff;margin:0;padding:0;}
body {
    text-align:center;
}
#Item img{height:200px;border-radius:8px;float:left;}
#Item p{vertical-align:top;padding:10px;width:70%;display:inline-block;}
#menuGalery{width:auto;height:40px;display:inline-block;background-color:#FFF8DC;margin-bottom:10px;border-radius:3px;border:3px solid #834C24;}#menuGalery ol{padding:0;margin:0;}#menuGalery ol li{display:inline;}#menuGalery ol li a{text-decoration:none;display:inline-block;float:left;width:auto;padding-left:10px;padding-right:10px;height:40px;color:#834C24;text-align:center;line-height:300%;}#menuGalery ol li a:hover{text-decoration:underline;}
#deco{width:auto;display:block;text-decoration:none;color:#fff;padding-left:40px;padding-bottom:10px;}#deco:hover{text-decoration:underline;}
#menuPrincipal{margin-left:120px;padding-top:25px;display:inline-block;}
#menuPrincipal ol{padding:0;margin:0;}#menuPrincipal ol li{display:inline;}#menuPrincipal ol li a{font-family:LandliebeRegular;text-decoration:none;display:inline-block;float:left;width:156px;height:55px;color:#fff;font-size:25px;text-align:center;line-height:300%;}#menuPrincipal ol li a:hover{text-shadow:0px 0px 10px #fff;text-decoration:underline;}
