﻿@model PoterieJoelleHenault.Models.Galerie

@{
    ViewBag.Title = "Delete";
}

<h2>Suprimer</h2>

<h3>Êtes-vous sûr de vouloir suprimer ce champ?</h3>
<fieldset>
    <legend>Galerie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Suprimer" /> |
        @Html.ActionLink("Retour", "Index", "Admin")
    </p>
}
