﻿@{
    ViewBag.Title = "Index";
}
<nav id="menuGalery">
    <ol>
        <li>@Html.ActionLink("Pièces régulières","ListGalery","Galerie")</li>
        <li>@Html.ActionLink("Urnes","ListGalery","Galerie",new { filtre = "urne" },null)</li>
        <li>@Html.ActionLink("Pièces Uniques","ListGalery","Galerie",new { filtre = "unique" },null)</li>
    </ol>
</nav>
<section id="ProduitVedette">
    
</section>
