﻿@model IEnumerable<PoterieJoelleHenault.Models.Galerie>
@{
    ViewBag.Title = "ListGalery";
}

<h2>List de la galerie</h2>
<table cellpadding="0" cellspacing="0" style="width:100%">
@foreach (var item in Model)
{
    @Html.Partial("_ItemPresentation", item)
}
</table>
<div id="noPages">
@{
    int page = ViewBag.Page;
    for (int i = 1;i<= (ViewBag.Max + 10 - 1) / 10 ;i++)
    {
            @Html.ActionLink(i.ToString(), "ListGalery", "Galerie", new { page = i, filtre = ViewBag.Filtre },null)
    }
}
</div>