﻿@model IEnumerable<PoterieJoelleHenault.Models.Galerie>

<h2>Liste des items de la galerie</h2>

<p>
    @Html.ActionLink("Ajouter un article", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Update", new { id=item.ID }) |
            @Html.ActionLink("Suprimer", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
